<table class="tx-threesixtyslider" >
	<tr>
		<td>
			<f:translate key="tx_threesixtyslider_domain_model_slideritem.title" />
		</td>
		<td>
			{slideritem.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_threesixtyslider_domain_model_slideritem.info1" />
		</td>
		<td>
			{slideritem.info1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_threesixtyslider_domain_model_slideritem.info1_title" />
		</td>
		<td>
			{slideritem.info1Title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_threesixtyslider_domain_model_slideritem.info2" />
		</td>
		<td>
			{slideritem.info2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_threesixtyslider_domain_model_slideritem.info2_title" />
		</td>
		<td>
			{slideritem.info2Title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_threesixtyslider_domain_model_slideritem.info3" />
		</td>
		<td>
			{slideritem.info3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_threesixtyslider_domain_model_slideritem.info3_title" />
		</td>
		<td>
			{slideritem.info3Title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_threesixtyslider_domain_model_slideritem.images" />
		</td>
		<td>
			{slideritem.images}
		</td>
	</tr>
</table>