<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:flashMessages />

    <div id="container" class="container-fluid pb-lg-5 pb-md-4 pb-3">
        <div class="sixty-wrapper clearfix">
            <div class="buttons sixty-btn-group">
               <f:comment>
                    <f:image src="EXT:threesixtyslider/Resources/Public/Images/prev.png" alt="<f:translate key='prev_image'/>" class="custom_previous"></f:image>
                    <f:image src="EXT:threesixtyslider/Resources/Public/Images/next.png" alt="<f:translate key='next_image'/>" class="custom_next"></f:image>
                </f:comment>
                <button type="button" class="sixty-left sixty-btn custom_previous"></button>
                <button type="button" class="sixty-right sixty-btn custom_next"></button>
            </div>
            <div class="threesixty slideritem">
                <div class="spinner">
                    <span>0%</span>
                </div>
                <ol class="threesixty_images"></ol>
            </div>
        </div>
    </div>
    <div class="py-lg-5 py-md-4 py-3 light-beige-section">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-6">
                    <h3><f:translate key='whereToUse'/></h3>
                   <div class="lined-style-list"> <f:format.html>{slideritem.info2}</f:format.html></div>
                </div>
                <div class="col-md-6">
                    <h3><f:translate key='features'/></h3>
                    <div class="lined-style-list"><f:format.html>{slideritem.info1}</f:format.html></div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">


        var threeSixtySlideritem;
        var threeSixtyTotalFrames = {settings.sliderimagesCount};
        var threeSixtyHeight = {settings.sliderimagesHeight};
        var threeSixtyWidth = {settings.sliderimagesWidth};
        var threeSixtyPath = '{settings.sliderimagesRootPath}{slideritem.path}/';


    </script>
</f:section>